::-webkit-input-placeholder { color:#757575; }
input:-moz-placeholder { color:#757575; }
.login-head{
    width: 1080px;
    height: 90px;
    line-height: 90px;
    background: #FFFFFF;
    margin: 0 auto;
}
.login-logo{
    float: left;
    width: 95px;
    height: 44px;
    margin-top: 24px;
}
.login-body{
    background: #5F5D5D;
}
.login-container{
    width: 1080px;
    height: 580px;
    position: relative;
    margin: 0 auto;
}
.logo{
    background: url("../../imgs/logo.png");
    width: 92px;
    height: 42px;
    display: block;
}
.login-logo-type{
    width: 388px;
    height: 30px;
    display: block;
    /*background: url(../images/img_type.png) no-repeat;*/
    margin: 30px 0 0 0;
}
.login-view{
    width: 330px;
    background: #FFFFFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position: relative;
}
.login-tab-container{
    margin-bottom: 30px;
}
.login-tab{
    padding: 10px 0;
    width: 140px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    float: left;
    font-size: 16px;
    color: #999999;
}
.login-tab:hover{
    color: #333333;
}
.login-tab.active{
    border-bottom: 1px solid #e62e04;
    color: #333333;
}
.login-other{
    height: 48px;
    border-top:1px solid #dddddd;
    text-align: center;
    color: #666666;
    line-height: 48px;
}
.login-main{
    padding: 21px 25px 0 25px;
    height: 320px;
}
.login-input-container input{
    width: 278px;
    border: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    text-indent: 49px;
    font-size: 14px;
}
.login-input-container input:focus{
    border:1px solid #bfddff;
}
.login-small-input-container{
   position: relative;
}
.login-input-icon{
    color: #cccccc;
    border-right:1px solid #dddddd;
    font-size: 18px;
    width: 37px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    z-index: 9;
    left: 0;
    top:9px;
    position: absolute;
}
.login-input-container{
    position: relative;
    margin-top: 20px;
}
.login-input-container:focus{
    border: 2px solid #bfddff;
}
.login-small-input-container input{
    width: 164px;
    border:1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    margin-right: 10px;
    text-indent: 49px;
    font-size: 14px;
}
.login-small-input-container input:focus{
    border:1px solid #bfddff;
}
.login-submit-container{
    margin-bottom: 20px;
}
.login-submit-container.high{
    margin-bottom: 52px;
}
.login-submit-button{
    margin: 32px 0 20px 0;
}
.login{
    width: 100%;
    background: #e62e04;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-weight: 700;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    display: block;
}
.login:hover{
    background: #d42a04;
}
.login-other-img{
    width: 20px;
    margin: 0 3px;
    vertical-align: middle;
}
.get-code{
    width: 102px;
    height: 40px;
    border:1px solid #dddddd;
    color: #999999;
    background: #f9f9f9;
    display: block;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.small-input-row{
    margin: 20px 0 0 0;
}
.login-link{
    color: #666666;
}
.login-link:hover{
    color: #e62e04;
}
.under-link:hover{
    text-decoration: underline;
}
.login-footer{
    background: #FFFFFF;
    height: 154px;
    text-align: center;
}
.help-container{
    color: #666666;
    margin-top: 50px;
}
.help-container a{
    padding: 0 25px;
    border-right: 1px solid #666666;
}
.help-container a.last{
    border:none;
}
.help-container a:hover{
    text-decoration: underline;
}
.copy-container{
    color: #999999;
    margin-top: 10px;
}
.login-error-container{
    position: absolute;
    top: 205px;
    left: 25px;
}
.login-error{
    color: #e62e04;
    vertical-align: middle;
}
.login-error-icon{
    margin-right: 5px;
}
.login-error-icon img{
    width: 12px;
    vertical-align: middle;
}
.sdk_login .layui-layer-setwin .layui-layer-close2{
    position: absolute;
    right: -6px;
    top: -6px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    background-position: 0 0;
}
.sdk_login .layui-layer-ico{
    background: url("../images/close.png") no-repeat;
}
.sdk_login .layui-layer-setwin .layui-layer-close2:hover{
    background-position: 0 0;
}
.login-other.sdk{
    position: absolute;
    width: 330px;
}
.login-view-container{
    top:93px;
    right: 50px;
    position: absolute;
}