::-webkit-input-placeholder { color:#757575; }
input:-moz-placeholder { color:#757575; }
.login-head{
    width: 1080px;
    height: 90px;
    line-height: 90px;
    background: #FFFFFF;
    margin: 0 auto;
}
.login-logo{
    float: left;
    width: 95px;
    height: 44px;
    margin-top: 24px;
}
.login-body{
    background: url("http://cdn.washepms.com/v1.0/css/images/sign_bg.png") no-repeat center center;
    background-size: cover;
}
.login-container{
    width: 1080px;
    height: 580px;
    position: relative;
    margin: 0 auto;
}
.logo{
    background: url("../../imgs/logo.png");
    width: 92px;
    height: 42px;
    display: block;
}
.login-logo-type{
    width: 388px;
    height: 30px;
    display: block;
    /*background: url(../images/img_type.png) no-repeat;*/
    margin: 30px 0 0 0;
}
.login-view{
    width: 330px;
    background: rgba(241, 241, 241, 0.53);
    border-radius:10px;
    position: relative;
}
.login-tab-container{
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}
.login-main{
    padding: 21px 25px 0 25px;
    height: 320px;
}
.login-input-container input{
    background-color: #fff;
    width: 278px;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-indent: 60px;
    font-size: 14px;
    border-radius: 5px;
}
.login-small-input-container{
    position: relative;
}
.login-input-icon{
    color: #666;
    border-right:1px solid #666;
    font-size: 18px;
    width: 45px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    z-index: 9;
    left: 0;
    top:12px;
    position: absolute;
}
.login-input-container{
    position: relative;
    margin-top: 20px;
}
.login-input-container:focus{
    border: 2px solid #bfddff;
}
.login-small-input-container input{
    width: 164px;
    border:1px solid #dddddd;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    margin-right: 10px;
    text-indent: 49px;
    font-size: 14px;
}
.login-small-input-container input:focus{
    border:1px solid #bfddff;
}
.login-submit-container{
    margin-bottom: 20px;
}
.login-submit-container.high{
    margin-bottom: 52px;
}
.login-submit-button{
    margin: 32px 0 20px 0;
}
.login{
    width: 100%;
    background: #d34e4a;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-weight: 700;
    border-radius:5px;
    display: block;
}
.login:hover{
    background: #d42a04;
}
.login-other-img{
    width: 20px;
    margin: 0 3px;
    vertical-align: middle;
}
.get-code{
    width: 102px;
    height: 40px;
    border:1px solid #dddddd;
    color: #999999;
    background: #f9f9f9;
    display: block;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.small-input-row{
    margin: 20px 0 0 0;
}
.login-link{
    color: #666666;
}
.login-link:hover{
    color: #e62e04;
}
.under-link:hover{
    text-decoration: underline;
}
.login-footer{
    position: relative;
    height: 154px;
    text-align: center;
}
.help-container{
    position: absolute;
    left: 150px;
    background: url("/imgs/sign_logo2.png") no-repeat center   center;
    width:149px ;
    height: 170px;
}

.copy-container{
     background: url("/imgs/sign_logo1.png") no-repeat 20px   center;
    position: absolute;
    right: 150px;
    top:25px;
    height: 170px;
    width: 380px;
    padding-top: 30px ;
}
.copy-container-qrcode{
    height: 170px;
    width: 380px;

}
.copy-container-qrcode .log-qrcord{
    width: 130px;
    height: 100%;  float: left;
}
.copy-container-qrcode .log-title{
    float: left;
    border-left: 1px solid #999999;
    height: 100px;
    line-height: 100px;
    text-align: right;
    margin-top: 5px;
}
.log-qrcord{

}

.login-error-container{
    position: absolute;
    top: 205px;
    left: 25px;
}
.login-error{
    color: #e62e04;
    vertical-align: middle;
}
.login-error-icon{
    margin-right: 5px;
}
.login-error-icon img{
    width: 12px;
    vertical-align: middle;
}
.sdk_login .layui-layer-setwin .layui-layer-close2{
    position: absolute;
    right: -6px;
    top: -6px;
    width: 16px;
    height: 16px;
    margin-left: 0;
    background-position: 0 0;
}
.sdk_login .layui-layer-ico{
    background: url("../imgs/close.png") no-repeat;
}
.sdk_login .layui-layer-setwin .layui-layer-close2:hover{
    background-position: 0 0;
}
.login-other{
    text-align: center;
}
.login-other.sdk{
    position: absolute;
    width: 330px;
}
.login-view-container{
    top:93px;
    right: 50px;
    position: absolute;
}
.sign_user{
    background: url("/imgs/sign_user.png") no-repeat center center;
}.sign_password{
     background: url("/imgs/sign_password.png") no-repeat center center;
 }